@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="panel panel-primary">
        <div class="panel-heading">Address</div>
        <div class="panel-body">Kemalpaşa Mahallesi Üniversite Caddesi Serdivan/Sakarya</div>
    </div>
     <div class="panel panel-primary">
        <div class="panel-heading">Telephone Number</div>
        <div class="panel-body">+905068507736</div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">E-mail Address</div>
        <div class="panel-body">foodfactory@gmail.com</div>
    </div>
</body>
</html>
