@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<p>These are our adresses:</p>
<p>  Kemalpaşa Mahallesi Üniversite Caddesi Serdivan/Sakarya</p>
<p> foodfactory@gmail.com</p>
<p>  +905068507736</p>

